{
  "presets": [
   ["@babel/preset-env", {
     "targets": {
       "browsers": ["> 1%", "not OperaMini all", "not ie > 0"]
     }
   }],
    "@babel/preset-react"
  ],
  "plugins": ["babel-plugin-styled-components", "transform-class-properties"],
  "env": {
    "dev": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
